.division {
    display: block;
    text-align: center;
    border-radius: 35%;
    background-color:rgb(238, 227, 218) ;
    margin: 60px;
    padding: 30px;
    font-size: 25px;
}
.main {
    align-items:end;
    background-color:rgb(238, 227, 218);
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    font-size:large ;
    font-family: 'Autour One', cursive;
}
a{
    color: rgb(105, 94, 140);
}
